.aside {
    width: 10rem;
    pointer-events: auto;
    z-index: 10;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navItem {
    margin-bottom: 4rem;
    display: flex;
    position: relative;
}

.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #909090;
    transition: width 300ms ease;
}

.navLink {
    width: 100%;
    height: 100%;
    color: #909090;
    text-decoration: none;
}

.navItem.active .navLink {
    color: white;
    font-weight: 600;
    text-shadow: 0 0 10px white;
}

.navItem.active .underline {
    background-color: white;
    box-shadow: 0 0 10px white;
}