.scene {
  position: relative;
  max-width: 100vw;

  section {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }

  .hero {
    .introContainer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;

      .intro {
        position: relative;
        font-size: 4rem;
        text-align: left;
        font-weight: 100;
        left: -50px;
      }

      .name {
        font-size: 8rem;
        font-weight: 900;
        /* animation: textGlow 6s ease 2s infinite both alternate; */
      }

      .title {
        margin-top: 4rem;
        font-size: 4rem;
        font-weight: 100;
      }
    }
  }
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;

  * {
    pointer-events: none;
  }
}

@keyframes fadeIn {
  0% {
    filter: blur(50px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes imgGlow {
  0% {
    transform: translateY(0px) scale(1);
    box-shadow: 0 0 10px #ffffff, 0 0 5px #88ccff;
  }

  25% {
    transform: translateY(-10px);
    /* crest */
    box-shadow: 0 0 20px #ffffff, 0 0 10px #88ccff;
  }

  50% {
    transform: translateY(4px);
    /* trough */
    box-shadow: 0 0 12px #ffffff;
  }

  75% {
    transform: translateY(-6px);
    /* rising again */
    box-shadow: 0 0 15px #aadfff;
  }

  100% {
    transform: translateY(0px) scale(1);
    box-shadow: 0 0 10px #ffffff, 0 0 5px #88ccff;
  }
}